//google fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Comfortaa|M+PLUS+Rounded+1c&display=swap');

//base styles
$font: 'Open Sans', sans-serif;
$bigheadfont: 'Comfortaa', sans-serif;
$headfont: 'Montserrat', sans-serif;
$bgcolor: lightblue;
$fontcolor: darkblue;

$linkcolor: turquoise;